SECRET_KEY=
DJANGO_DEBUG=
DATABASE_URL=
SIGNUP_INVITE_CODE=
DEMO_SEED=
DJANGO_DEMO_USERNAME=
DJANGO_DEMO_PASSWORD=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
WEB_CONCURRENCY=
